@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&display=swap');

.navbar-container {
    background: rgb(240, 166, 37);
    font-family: 'Cinzel Decorative', cursive;
    height: 20%;
}